.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.font-bold {
  font-weight: bold;
}

.fs-4vw {
  font-size: 4vw;
}

@media screen and (min-width: 415px) {
  .fs-4vw {
    font-size: 0.8em;
  }
}

.fs-pt9em {
  font-size: 0.9em;
}

.fs-pt8em {
  font-size: 0.8em;
}

.break-word {
  word-wrap: break-word;
}

.text-center {
  text-align: center;
}
